[submodule "RayroomProject"]
	path = RayroomProject
	url = https://github.com/M4y4Ti4/RayRoom
	branch = temp

[submodule "DGsim"]
	path = DGsim
	url = https://github.com/M4y4Ti4/edg-acoustics.git
	branch = main
